In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [14]:
stats = pd.read_csv("../data/players_stats.csv") # player stats
tl = pd.read_csv("../data/primera-division.csv") # Transfer la liga
tp = pd.read_csv("../data/premier-league.csv") # transfers premier

Check if the have the same strcuture

In [22]:
print("Transfers la liga shape:" , tl.shape)
print("Transfers premier shape:" , tp.shape)

Transfers la liga shape: (17255, 12)
Transfers premier shape: (23498, 12)

In [24]:
print("La liga columns",tl.columns)
print("premier columns",tp.columns)

La liga columns Index(['club_name', 'player_name', 'age', 'position', 'club_involved_name',
       'fee', 'transfer_movement', 'transfer_period', 'fee_cleaned',
       'league_name', 'year', 'season'],
      dtype='object')
premier columns Index(['club_name', 'player_name', 'age', 'position', 'club_involved_name',
       'fee', 'transfer_movement', 'transfer_period', 'fee_cleaned',
       'league_name', 'year', 'season'],
      dtype='object')

In [32]:
transf = pd.concat([tl,tp]) # merge both leagues transfers

In [33]:
transf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40753 entries, 0 to 23497
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   club_name           40753 non-null  object
 1   player_name         40753 non-null  object
 2   age                 40734 non-null  float64
 3   position            40753 non-null  object
 4   club_involved_name  40753 non-null  object
 5   fee                 40740 non-null  object
 6   transfer_movement   40753 non-null  object
 7   transfer_period     40753 non-null  object
 8   fee_cleaned         15809 non-null  float64
 9   league_name         40753 non-null  object
 10  year                40753 non-null  int64
 11  season              40753 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 4.0+ MB

In [36]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14331 entries, 0 to 14330
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      14331 non-null  int64
 1   name            14331 non-null  object
 2   club            14331 non-null  object
 3   position        14331 non-null  object
 4   apps            14331 non-null  object
 5   mins            14331 non-null  int64
 6   goals           14331 non-null  object
 7   assists         14331 non-null  object
 8   yel             14331 non-null  object
 9   red             14331 non-null  object
 10  shots           14331 non-null  object
 11  ps%             14331 non-null  object
 12  aerials_won     14331 non-null  object
 13  motm            14331 non-null  object
 14  rating          14331 non-null  float64
 15  tackles         14311 non-null  object
 16  interceptions   14311 non-null  object
 17  fouls           14311 non-null  object
 18  offsides_won    14311 non-null  object
 19  clearances      14311 non-null  object
 20  dribbled        14311 non-null  object
 21  blocks          14311 non-null  object
 22  own_goals       14311 non-null  object
 23  key_passes      14311 non-null  object
 24  dribblings      14311 non-null  object
 25  fouled          14311 non-null  object
 26  offsides        14311 non-null  object
 27  dispossed       14311 non-null  object
 28  bad_controls    14311 non-null  object
 29  avg_passes      14301 non-null  object
 30  crosses         14301 non-null  object
 31  long_passes     14301 non-null  object
 32  through_passes  14301 non-null  object
 33  league          14331 non-null  object
 34  season          14331 non-null  object
dtypes: float64(1), int64(2), object(32)
memory usage: 3.8+ MB

In [34]:
transf.describe(include="all")

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
count,40753,40753,40734.000000,40753,40753,40740,40753,40753,15809.000000,40753,40753.000000,40753
unique,98,9947,NaN,17,1885,2510,2,3,NaN,2,NaN,31
top,Chelsea FC,Luis García,NaN,Centre-Forward,Without Club,loan transfer,in,Summer,NaN,Premier League,NaN,2014/2015
freq,1308,43,NaN,7941,598,8834,20570,29175,NaN,23498,NaN,1739
mean,NaN,NaN,24.627412,NaN,NaN,NaN,NaN,NaN,3.896699,NaN,2008.479155,NaN
std,NaN,NaN,4.510449,NaN,NaN,NaN,NaN,NaN,9.270154,NaN,8.277879,NaN
min,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1992.000000,NaN
25%,NaN,NaN,21.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,2002.000000,NaN
50%,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,0.500000,NaN,2009.000000,NaN
75%,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,NaN,3.600000,NaN,2015.000000,NaN
max,NaN,NaN,47.000000,NaN,NaN,NaN,NaN,NaN,222.000000,NaN,2022.000000,NaN

We want to look up for keys in order to make a left join between stats and transfers in order to add a column that indicates if the player has abandoned the team at the end of the season.

We will check club names, player names, season and league

### Club names

Note: We just have stats in sesaons 2009/2010 and above la liga

In [49]:
transf = transf[transf['season'].isin(['2009/2010','2010/2011','2011/2012','2012/2013','2013/2014','2014/2015','2015/2016','2016/2017','2017/2018','2018/2019','2019/2020','2020/2021','2021/2022'])]

In [60]:
clubs_transf = transf['club_name'].unique()
clubs_stats = stats['club'].unique()

In [70]:
print("unique clubs transf",len(clubs_transf))
print("unique clubs stats",len(clubs_stats))

unique clubs transf 75
unique clubs stats 75

In [79]:
print(np.setdiff1d(clubs_stats,clubs_transf))
print(len(np.setdiff1d(clubs_stats,clubs_transf)))

['Almeria' 'Arsenal' 'Atletico' 'Barcelona' 'Birmingham' 'Blackburn'
 'Blackpool' 'Bolton' 'Bournemouth' 'Brentford' 'Brighton' 'Burnley'
 'Cadiz' 'Cardiff' 'Celta Vigo' 'Chelsea' 'Cordoba' 'Deportivo'
 'Deportivo Alaves' 'Eibar' 'Elche' 'Espanyol' 'Everton' 'Fulham' 'Getafe'
 'Girona' 'Granada' 'Hercules' 'Huddersfield' 'Hull' 'Las Palmas' 'Leeds'
 'Leganes' 'Leicester' 'Levante' 'Liverpool' 'Malaga' 'Mallorca'
 'Man City' 'Man Utd' 'Middlesbrough' 'Newcastle' 'Norwich' 'Osasuna'
 'Portsmouth' 'QPR' 'Reading' 'Real Betis' 'Real Valladolid' 'Sevilla'
 'Sheff Utd' 'Southampton' 'Sporting Gijon' 'Stoke' 'Sunderland' 'Swansea'
 'Tenerife' 'Tottenham' 'Valencia' 'Villarreal' 'Watford' 'West Brom'
 'West Ham' 'Wigan' 'Wolves' 'Xerez']
66

In [83]:
clubs_transf

array(['Racing Santander', 'Getafe CF', 'UD Almería', 'Sporting Gijón',
       'Málaga CF', 'Villarreal CF', 'Valencia CF',
       'Deportivo de La Coruña', 'RCD Espanyol Barcelona', 'CD Tenerife',
       'Atlético de Madrid', 'Athletic Bilbao', 'Real Madrid',
       'Sevilla FC', 'Real Valladolid CF', 'CA Osasuna', 'RCD Mallorca',
       'Real Zaragoza', 'Xerez CD', 'FC Barcelona', 'Hércules CF',
       'Levante UD', 'Real Sociedad', 'Granada CF', 'Rayo Vallecano',
       'Real Betis Balompié', 'Celta de Vigo', 'Elche CF', 'SD Eibar',
       'Córdoba CF', 'UD Las Palmas', 'Deportivo Alavés', 'CD Leganés',
       'Girona FC', 'SD Huesca', 'Cádiz CF', 'Manchester United',
       'Liverpool FC', 'Chelsea FC', 'Arsenal FC', 'Everton FC',
       'Aston Villa', 'Fulham FC', 'Tottenham Hotspur', 'West Ham United',
       'Manchester City', 'Wigan Athletic', 'Stoke City',
       'Bolton Wanderers', 'Portsmouth FC', 'Blackburn Rovers',
       'Sunderland AFC', 'Hull City', 'Wolverhampton Wanderers',
       'Birmingham City', 'Burnley FC', 'Blackpool FC',
       'West Bromwich Albion', 'Newcastle United', 'Queens Park Rangers',
       'Norwich City', 'Swansea City', 'Southampton FC', 'Reading FC',
       'Cardiff City', 'Crystal Palace', 'Leicester City',
       'AFC Bournemouth', 'Watford FC', 'Middlesbrough FC',
       'Brighton & Hove Albion', 'Huddersfield Town', 'Sheffield United',
       'Leeds United', 'Brentford FC'], dtype=object)

It is easy to see what is going on, the club names in the transf dataframe have the complete name and the ones in the stats don´t. We will shorten them and remove the special characters

In [90]:
clubs_transf['club_name'] = clubs_transf['club_name'].astype(str)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [104]:
transf['clubs_short'] = transf['club_name'].apply(lambda x: x.strip().replace('CF','').replace('UD','')
                                                             .replace('CD','').replace('RCD','').replace('CA','')
                                                              .replace('SD','').replace('FC','').replace('á','a')
                                                              .replace('é','e').replace('í','i').replace('ó','o')
                                                              .replace('ú','u').replace('City','')
                                                              .replace('United','Utd').replace('Town','').strip()
                                                             )

<ipython-input-104-70f099691d6f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transf['clubs_short'] = transf['club_name'].apply(lambda x: x.strip().replace('CF','').replace('UD','')

In [105]:
clubs_transf = transf['clubs_short'].unique() 
clubs_transf

array(['Racing Santander', 'Getafe', 'Almeria', 'Sporting Gijon',
       'Malaga', 'Villarreal', 'Valencia', 'Deportivo de La Coruña',
       'R Espanyol Barcelona', 'Tenerife', 'Atletico de Madrid',
       'Athletic Bilbao', 'Real Madrid', 'Sevilla', 'Real Valladolid',
       'Osasuna', 'R Mallorca', 'Real Zaragoza', 'Xerez', 'Barcelona',
       'Hercules', 'Levante', 'Real Sociedad', 'Granada',
       'Rayo Vallecano', 'Real Betis Balompie', 'Celta de Vigo', 'Elche',
       'Eibar', 'Cordoba', 'Las Palmas', 'Deportivo Alaves', 'Leganes',
       'Girona', 'Huesca', 'Cadiz', 'Manchester Utd', 'Liverpool',
       'Chelsea', 'Arsenal', 'Everton', 'Aston Villa', 'Fulham',
       'Tottenham Hotspur', 'West Ham Utd', 'Manchester',
       'Wigan Athletic', 'Stoke', 'Bolton Wanderers', 'Portsmouth',
       'Blackburn Rovers', 'Sunderland A', 'Hull',
       'Wolverhampton Wanderers', 'Birmingham', 'Burnley', 'Blackpool',
       'West Bromwich Albion', 'Newcastle Utd', 'Queens Park Rangers',
       'Norwich', 'Swansea', 'Southampton', 'Reading', 'Cardiff',
       'Crystal Palace', 'Leicester', 'A Bournemouth', 'Watford',
       'Middlesbrough', 'Brighton & Hove Albion', 'Huddersfield',
       'Sheffield Utd', 'Leeds Utd', 'Brentford'], dtype=object)

In [106]:
print(np.setdiff1d(clubs_stats,clubs_transf))
print(len(np.setdiff1d(clubs_stats,clubs_transf)))

['Atletico' 'Blackburn' 'Bolton' 'Bournemouth' 'Brighton' 'Celta Vigo'
 'Deportivo' 'Espanyol' 'Leeds' 'Mallorca' 'Man City' 'Man Utd'
 'Newcastle' 'QPR' 'Real Betis' 'SD Huesca' 'Sheff Utd' 'Sunderland'
 'Tottenham' 'West Brom' 'West Ham' 'Wigan' 'Wolves']
23

Still not good enough. We will create a dictionary for the remaining clubs

In [117]:
clubs = {
    "Atletico de Madrid":"Atletico",
    "Blackburn Rovers":"Blackburn",
    "Bolton Wanderers":"Bolton",
    "A Bournemouth":"Bournemouth",
    "Brighton & Hove Albion":"Brighton",
    "Celta de Vigo":"Celta Vigo",
    "Deportivo de La Coruña":"Deportivo",
    "R Espanyol Barcelona":"Espanyol",
    "Leeds Utd":"Leeds",
    "R Mallorca":"Mallorca",
    "Manchester":"Man City",
    "Manchester Utd":"Man Utd",
    "Newcastle Utd":"Newcastle",
    "Queens Park Rangers":"QPR",
    "Real Betis Balompie":"Real Betis",
    "Huesca":"SD Huesca",
    "Sheffield Utd":"Sheff Utd",
    "Sunderland A":"Sunderland",
    "Tottenham Hotspur":"Tottenham",
    "West Bromwich Albion":"West Brom",
    "West Ham Utd":"West Ham",
    "Wigan Athletic":"Wigan",
    "Wolverhampton Wanderers":"Wolves"
    
}

In [119]:
transf = transf.replace({'clubs_short':clubs} )

In [120]:
clubs_transf = transf['clubs_short'].unique() 
print(np.setdiff1d(clubs_stats,clubs_transf))
print(len(np.setdiff1d(clubs_stats,clubs_transf)))

[]
0

### League

In [128]:
transf['league_name'].unique()

array(['Primera Division', 'Premier League'], dtype=object)

In [130]:
stats['league'].unique()

array(['LaLiga', 'Premier League'], dtype=object)

Change league names in transf dataset

In [131]:
transf['league_name'] = transf['league_name'].replace('Primera Division','LaLiga')

### Player Names

In [123]:
transf.player_name.head(20)

7802           Álex Geijo
7803        Marc Torrejón
7804            Pape Diop
7805         Manuel Arana
7806          José Crespo
7807        Nasief Morris
7808          Luis García
7809             Henrique
7810                Xisco
7811       Sergio Canales
7812       Damián Ísmodes
7813      Juanjo Expósito
7814      Brian Sarmiento
7815               Vitolo
7816         Ebi Smolarek
7817          Iván Bolado
7818       Jonathan Valle
7819       Daniel Szetela
7820    Cristian Portilla
7821         Iván Marcano
Name: player_name, dtype: object

In [125]:
stats.name.head(20)

0             Lionel Messi
1        Cristiano Ronaldo
2          Gonzalo Higuaín
3               Dani Alves
4     Ruud van Nistelrooij
5            Javi Martínez
6             Sergio Ramos
7                  Marcelo
8                     Xavi
9                Juan Cala
10                   Chema
11            Antonio Luna
12                 Armando
13             Xabi Alonso
14                    Duda
15             David Villa
16      Zlatan Ibrahimovic
17                    Pepe
18            Luís Fabiano
19              Pedro León
Name: name, dtype: object

Looks like they can have the same nomenclature

In [127]:
transf[transf["player_name"] == "Javi Martínez"]

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,clubs_short
9510,Athletic Bilbao,Javi Martínez,23.0,Defensive Midfield,Bayern Munich,€40.00m,out,Summer,40.0,Primera Division,2012,2012/2013,Athletic Bilbao
16308,CA Osasuna,Javi Martínez,21.0,Attacking Midfield,CA Osasuna Prom,-,in,Summer,NaN,Primera Division,2021,2021/2022,Osasuna